{% extends 'base_generic.html' %}
{% block content %}
    <table>
    {% for challenge in challenges %}
        <tr>
            <th>チャレンジ</th>
            <th>登録日</th>
            <th>評価</th>
        </tr>
        <tr>
            <td><a href="{% url 'challenge_detail' pk=challenge.pk %}">{{ challenge.challenge }}</a></td>
            <td>{{challenge.registered_date}}</td>
            <td>{{challenge.evaluation}}</td>
            <td><a href="{% url 'evaluation_edit' pk=challenge.pk %}">評価する</a></td>
            <td><a href="{% url 'challenge_edit' pk=challenge.pk %}">編集する</a></td>
            <td><a href="{% url 'challenge_delete' pk=challenge.pk %}">削除する</a></td>
        </tr>
    {% endfor %}
    </table>
    <a href="{% url 'challenge_new' %}">新しく挑戦する</a>
{% endblock %}
